body {
    background-image: linear-gradient(to right, rgb(196, 196, 196), blanchedalmond, rgb(196, 196, 196));
}

h1{
    color: #2154b9;     
}

.headings {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

.poem {
    text-align: center;
}

  .links {
    text-align: center;
  }

  hr {
    border: 20px ;
    height: 1px;
    background-image: linear-gradient(to right, rgb(196, 196, 196), black, rgb(196, 196, 196));
  }

.forever-remembered {
    text-align: center;
}